name: animated_flash_cards
description: "A Flutter package for animated flash cards with book-like page flipping."
version: 1.1.1
homepage: https://github.com/DeveloperOrpon/Animated-flash_cards.git

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true